.carousel {

    display: block;
    margin: 50px;

    .carousel-img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            border-radius: 25px;
            height: 500px;
            object-fit: cover;
        }

        #arrow-slide {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            inset: 0;
            padding: 0 20px;
            

            svg{
                cursor: pointer;
                
            }
            
            .arrL:hover{fill:rgb(97, 170, 192)}
        }

        .compteur {

          position: absolute;
          color:rgb(5, 9, 19);
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 500;
          line-height: 25.67px;
          text-align: center;
          display: flex;
          align-self: flex-end;
          


        }
    }

    .infos {

        display: flex;
        justify-content: space-between;

        h1 {

            color: rgb(97, 170, 192);
            font-family: Montserrat;
            font-size: 36px;
            font-weight: 500;
            line-height: 51.34px;
            margin: 0;
            margin-top: 10px;
        }

    
        h2 {

            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            line-height: 25.67px;
            margin-top: 0;

        }
    }


    .view-code {
        display: flex;
        gap:5px;
        

        .view {
            background-color: rgb(97, 170, 192);
            border-radius: 10px;
            gap: 20px;
            display: flex;
            min-width: 115px;
            height: auto;
            padding: 8px;
            margin-bottom: 20px;

            a{
                display:flex;
                justify-content: center;
                align-items:center;
                text-decoration: none;
                gap:5px;
            }
            p {
                color: white;
                font-family: Montserrat;
                font-size: 15px;
                font-weight: 700;
                line-height: 19.96px;
                margin: 0;
             
            }
            span {
                font-size:20px;
                color:white;
                margin:0
            }
        }

    }

    
}

.collapse-fiche{

   
    gap: 76px;
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
   
}

@media (max-width:836px){

.carousel {

    margin:20px;


.collapse-fiche{

    display: flex;
    flex-direction: column;
    gap:0;
}
 }
  }

@media (max-width:736px){

.carousel{
    .carousel-img {
        img {
            
            height: 300px;
        }

        #arrow-slide {
           
            svg{
                height:60px;
                width: 24px;
            }
            
        }

    }
  }
}

    @media (max-width:528px){

        .carousel{
            .carousel-img {
               
                img {
                    
                    height: 250px;
                }     
            }
        }
    }
   @media (max-width:396px){

   .carousel{
      .carousel-img {
                       
         img {
                            
           height: 150px;
         }    
      }
                
    }
}


    