
    
    .back-img-about {
        display: flex;
        margin: 0 auto ;
        border-radius: 25px;
        background-color: rgba(12, 12, 12, 0.304);
        z-index: 0;
        margin: 30px 50px 50px 50px;
     
        img {
            
            height: 223px;
            border-radius: 25px;
            width: 100%;
            object-fit: cover;
            z-index: -1;
            
           
        }
    }

    .collapse-contain-about {

     margin: 0px 150px 0px 150px;
     font-family: Montserrat;
     font-size:20px
     
    }
    
    
    .collapse-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 54px;
        padding: 0px 10px 0px 10px;
        border-radius: 5px;
        background-color: rgba(255, 96, 96, 1);
      
        
   

        h3 {
            color: white;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 700;
        }

        .arrow {
            transition: 0.5s;

            &.active {
                transform: rotate(-180deg)
            }
        }
    }

    .collapse-text {
        
        padding: 20px;
        font-family: "Montserrat";
        background-color: rgba(246, 246, 246, 1);
        border-radius: 0px 0px 5px 5px;
        opacity:0;
        height: 0;
        font-size:20px;
        line-height:50px;
        
        &.active {
            height: unset;
            opacity: 1;
        }
    }

    .collapse-img {
       
        width:100%;
        opacity:0;
        height: 0;
        &.active {
            height: unset;
            opacity: 1;
        }

    }

    @media (max-width : 768px) {


        .back-img-about{

            margin:30px 20px 30px 20px
        }

        .collapse-contain-about {
            margin: 20px;
        }

        .collapse-text {
            font-size: 16px;
            line-height:20px;
        }
        .collapse-item{
            h3{font-size: 20px;}
        }
    }
    